{% extends 'app/base.html' %}

{% block content %}
	<main class="container">
		<div class="row">
		    {% for dashboard in dashboards %}
		    <div class="col-md-3 mt-3">
		    	<div class="card">
		        	<div class="card-header"><a href="{% url 'dashboard_detail' pk=dashboard.pk %}">{{ dashboard.title }}</a></div>
		        	<div class="card-body">
		        		{{ dashboard.description|truncatechars:100 }}
		        	</div>
		        </div>
		    </div>
		    {% endfor %}
		</div>
	</main>
{% endblock %}